<ul>
  <li>
    Pommes de Terre
  </li>
  <li [ngStyle]="{backgroundColor: isThisIngredientVital ? 'red' : 'yellow'}">
    Raclette
  </li>
  <li>
    Jambom
  </li>
  <li [ngClass]="{'vital' : isThisIngredientVital}">
    Cornichons
  </li>
  <li>
    Chou-fleur
  </li>
</ul>
<hr>
<ul *appDisplayGuests="displayGuestList">
  <li>
    Brenda
  </li>
  <li>
    Dylan
  </li>
  <li>
    Jean-Mi
  </li>
  <li>
    Kylie
  </li>
</ul>
<hr>
<ul *ngFor="let song of songList">
  <li>
    {{ song }}
  </li>
</ul>
<hr>
<h1 appHightlight>
  Raclette
</h1>