<ul *appShowMovies="showMovies">
  <li appChangeStyle>
    Star Wars I: The Phantom Menace
  </li>
  <li>
    Star Wars II: Attack of the Clones
  </li>
  <li>
    Star Wars III: Revenge of the Sith
  </li>
  <li>
    Star Wars IV: A New Hope
  </li>
  <li>
    Star Wars V: The Empire Strikes Back
  </li>
  <li>
    Star Wars VI: Return of the Jedi
  </li>
  <li>
    Star Wars VII: The Force Awakens
  </li>
  <li>
    Star Wars VIII: The Last Jedi
  </li>
  <li>
    Star Wars IX: Rise of Skywalker
  </li>
</ul>